[submodule "org-mode"]
	path = org-mode
	url = git://repo.or.cz/org-mode.git
[submodule "sass-mode"]
	path = sass-mode
	url = git://github.com/nex3/sass-mode.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "rspec-mode"]
	path = rspec-mode
	url = git://github.com/pezra/rspec-mode.git
[submodule "ace-jump-mode"]
	path = ace-jump-mode
	url = git://github.com/winterTTr/ace-jump-mode.git
[submodule "yasnippet"]
	path = yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "rules-editing-mode"]
	path = rules-editing-mode
	url = git://github.com/pdorrell/rules-editing-mode.git
