# Don't bother tracking a bunch of stuff when building and installing
# Org from the master git repository.

# ...by ignoring everything created by 'make', 'make doc', `make info'
#    `make html_manual', `make release'

*.aux
*.bak
*.cp
*.cps
*.dvi
*.elc
*.fn
*.fns
*.html
*.ky
*.kys
*.log
*.pdf
*.pg
*.pgs
*.toc
*.tp
*.vr
*.vrs
*.dvi
*.ps
orgcard_letter.tex
org
org-install.el
org-*.tar.gz
org-*.zip
manual
org_dual_license.texi
ORGWEBPAGE/Changes.txt

# aspell word and replacement lists

.aspell.org.pws
.aspell.org.prepl

js2-mode/build
nxhtml/etc/schema/xhtml-loader.rnc

cedet/eieio/init-compile-script
cedet/semantic/Analyzer-compile-script
cedet/semantic/Database-compile-script
cedet/semantic/Languages-compile-script
cedet/semantic/autoloads-compile-script
cedet/semantic/bovine/bovinator-compile-script
cedet/semantic/bovine/grammar-make-script
cedet/semantic/bovine/languages-compile-script
cedet/semantic/ctags/ctags-compile-script
cedet/semantic/grammar-make-script
cedet/semantic/init-compile-script
cedet/semantic/semantic-compile-script
cedet/semantic/semantic-loaddefs.el~
cedet/semantic/symref/symref-compile-script
cedet/semantic/tests-compile-script
cedet/semantic/tools-compile-script
cedet/semantic/utils-compile-script
cedet/semantic/wisent/grammar-make-script
cedet/semantic/wisent/languages-compile-script
cedet/semantic/wisent/tools-compile-script
cedet/semantic/wisent/wisent-compile-script
cedet/speedbar/autoloads-compile-script
cedet/speedbar/init-compile-script
cedet/speedbar/speedbar-compile-script
cedet/speedbar/speedbar-loaddefs.el~
cedet/srecode/autoloads-compile-script
cedet/srecode/document-compile-script
cedet/srecode/grammar-make-script
cedet/srecode/srecode-compile-script
cedet/srecode/srecode-loaddefs.el~
cedet/srecode/tests-compile-script
cedet/tests/Lisp-compile-script
ecb/ecb-compile-script
cedet/cogre/COGRE-compile-script
cedet/cogre/Mode-compile-script
cedet/cogre/autoloads-compile-script
cedet/cogre/cogre-loaddefs.el~
cedet/cogre/dot-compile-script
cedet/cogre/grammar-make-script
cedet/cogre/hacks-compile-script
cedet/cogre/init-compile-script
cedet/cogre/tests-compile-script
cedet/common/autoloads-compile-script
cedet/common/cedet-loaddefs.el~
cedet/common/common-compile-script
cedet/common/init-compile-script
cedet/common/setup-compile-script
cedet/common/tests-compile-script
cedet/contrib/autoloads-compile-script
cedet/contrib/contrib-loaddefs.el~
cedet/contrib/grammar-make-script
cedet/contrib/init-compile-script
cedet/contrib/lisp-compile-script
cedet/contrib/setup-compile-script
cedet/ede/autoloads-compile-script
cedet/ede/aux-lisp-compile-script
cedet/ede/ede-compile-script
cedet/ede/ede-loaddefs.el~
cedet/ede/init-compile-script
cedet/ede/proj-project-compile-script
cedet/ede/projects-compile-script
cedet/eieio/autoloads-compile-script
cedet/eieio/eieio-compile-script
cedet/eieio/eieio-loaddefs.el~
cedet/eieio/examples-compile-script

